<div class=" container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render "public/customers/profile",customer: @customer %>
    </div>
    <div class="col-8 offset-1 ">
      <h3>タイトルを選んでください</h3>
      <div class="row">
       <% @game_titles.each do |game_title| %>
      
        <div class="col-3 mx-3 mb-5">
          <%=link_to game_title_path(game_title) do%>
          <%= image_tag game_title.get_game_title_image %>
          <% end %>
        </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>