<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "public/customers/profile",customer: @customer %>
    </div>
    <div class="col-8 ">
      <h3>タイトルを選んでください</h3>
       <% @game_titles.each do |game_title| %>
        <%=link_to game_title_path(game_title) do %>
        <%= image_tag game_title.get_game_title_image %>
        <% end %>
        <% end %>
    </div>
  </div>
</div>