<div class="search_form">
  <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
    <%=f.text_field :word %>
    <%=f.select :range,options_for_select([['ゲーム名'],['ユーザー名']]) %>
    <%=f.submit "検索",class:"btn btn-sm btn-outline-light" %>
  <% end %>
</div>