<!--いいねした投稿一覧ページ-->
<%= link_to "ひとつ前に戻る",:back,class:"btn btn-outline-secondary ml-2" %>

<!--ゲストの場合は表示されない-->
<% if current_customer.name =="guest_user" %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 mx-auto mt-5">
        <h3 class="text-primary">会員登録をするとお気に入りができるようになります！</h3>
      </div>
    </div>
  </div>
  
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 mx-auto mt-5">
        <h3>お気に入り一覧</h3>
      </div>
    </div>
    <div class="row  col-md-8 bg-dark text-white py-2 flex-nowrap mx-auto">
      <div class="col-md-2 col-sm-2"><h4>名前</h4></div>
      <div class="col-md-7 col-sm-7 text-center"><h4>タイトル</h4></div>
       <div class="col-md-3 col-sm-3"></div>
    </div>
    
    <div class="row col-md-8 my-2 flex-nowrap mx-auto">
      <% @favorites.each do |favorite| %>
        <div class="col-md-2 col-sm-2"><%=favorite.game_score.customer.name %></div>    
        <div class="col-md-7 col-sm-7 text-center"><%=favorite.game_score.game_title.title %></div>
        <div class="col-md-3 col-sm-3 text-center"> <%= link_to "詳細",game_title_game_score_path(favorite.game_score.game_title_id,favorite.game_score_id),class:"btn btn-outline-success" %>
      <% end %></div>
       
      </div>
    </div>
  </div>
<% end %>


