<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
    <ul>
      <li><%= link_to "管理者ログイン",new_admin_session_path %></li>
      <li><%= link_to "ユーザーログイン",new_customer_session_path %></li>
      <li><%= link_to "ゲストログイン(閲覧用)",homes_guest_sign_in_path,method: :post %></li>
    </ul>                                      
    </div>
  </div>
</div>
