@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// .t-text{
//   position: absolute;
//   background-color: rgba(0,0,0,0.4);
//   padding: 3%;
// }

// .login{
//   position: absolute;
//   top: 80%;
//   left: 10%;
 
// }

// .session{
//   position: absolute;
//   top:80%;
//   left:45%;
// }
// .guest{
//   position: absolute;
//   top:80%;
//   left:70%;
// }


 
// .position-parent{
//   background-image: url("../images/42.jpg");
//   background-color: red;
//   position:relative;
//   background-image:contain;
//   width:100%;
//   height:600px;
// }
// .home{
//   text-align:center;
// }

// .profile{
//   background-color:#dcdcdc;
//   position:absolute;
 
// }

// .headline{
//   width: 100%;
//   position: relative
// }

// .right{
//   margin-left: 90%;
// }

.t-text{
  position:absolute;
  background-color:rgba(0,0,0,0.4);
  padding: 3%;
}


 
// .position-parent{
//   background-image: image-url("42.jpg");
//   position:relative;
//   background-image:contain;
//   width:100%;
//   height:600px;
// }

.position2{
 padding-top:30%;
 
}
.home{
  text-align:center;
}

.profile{
  background-color:#dcdcdc;
  position:absolute;
 
}

.headline{
  width: 100%;
  position: relative
}

.right{
  margin-left: 90%;
}

.pagination {

justify-content: center;

}
