  <!--リクエスト一覧-->
  <div class="container">
    <div class="mb-4 mt-5">
      <h3>リクエスト一覧</h3>
    </div>
    <div class="row">
      <div class="col-8 mx-auto">
        <table class="table">
          <thead class="table-dark">
            <th>タイトル</th>
            <th>理由</th>
            <th></th>
          </thead>
        <% @requests.each do |request| %>
          <tr>
            <td><%=request.title %></td>
            <td class="text-break"><%=request.reason%></td>
            <td><%=link_to "削除する",admin_request_path(request), method: :delete,class:"btn btn-outline-success" %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>