<div class="container">
  <div class="row">
    <div class="col-8 mx-auto mt-5">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <td class="table-dark" style="width:30%" >メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td class="table-dark" style="width:30%">パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        
        <tr>
          <td class="table" style="width:30%"></td>
          <td><%= f.submit "Log in" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-8 mx-auto mt-5">-->
<!--      <h2>Log in</h2>-->
<!--      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--      <table class="table table-borderless">-->
<!--        <tr>-->
<!--          <td class="table-dark" style="width:30%" >メールアドレス</td>-->
<!--          <td style="width:70%">-->
<!--            <div class="form-group">-->
<!--            <input type="email" name="customer[email]" class="form-control" placeholder="メールアドレスを入力してください">-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="table-dark" style="width:30%">パスワード</td>-->
<!--          <td style="width:70%">-->
<!--            <div class="form-group">-->
<!--              <input type="password" id="text" class="form-control" placeholder="パスワードを入力してください">-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
        
<!--        <tr>-->
<!--          <td class="table" style="width:30%"></td>-->
<!--          <td style="width:70%"><%#= f.submit "Log in" %></td>-->
<!--          <button type="Log in" value="Log in" class="btn btn-success">Submit</button>-->
<!--        </tr>-->
<!--      </table>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--</div>-->


